.main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	height: 100%;
	flex: 1;
}

.currentWeatherCard {
	display: flex;
	flex-direction: column;
	background-color: #dde4ed;
	height: 100%;
	width: 50%;
	padding: 1%;
	border-radius: 15px;
}

.currentWeatherCard__head {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5%;
}

#head__temperature {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#temperature__number {
	font-size: 5em;
}
#temperature__subnumber {
	color: grey;
	font-size: 1.2em;
}

#head__info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.currentWeatherCard__header{
	text-align: center;
	margin-bottom: 5%;
}


.currentWeatherCard__subheader {
	text-align: center;
	margin-bottom: 5%;
}

.currentWeatherCard__body {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 5%;
}

.currentWeatherCard__body span {
	font-size: 1.2em;
	font-weight: 500;
}

.cardImg {
	width: 50px;
	height: 50px;
}

.body__cell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cell__item-wind {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.cell__item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.searchWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 20%;
	margin-top: 2em;
	margin-bottom: auto;
}

.citiesList {
	width: 50%;
	max-height: 215px;
	font-size: 1.2em;
	z-index: 200;
	position: relative;
	list-style: none;
	overflow: auto;
}

.citiesList li {
	text-align: center;
	width: 100%;
	cursor: pointer;
	border: 1px solid black;
	padding: 2%;
	background-color: #dde4ed;
	z-index: 200;
}

.citiesList li:hover {
	background-color: lightgrey;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.4);
	z-index: 100;
}

@media (max-width: 1024px) {
	.currentWeatherCard {
		width: 70%;
	}

	.currentWeatherCard__head {
		flex-direction: column;
	}

	.currentWeatherCard__body {
		flex-wrap: wrap;
	}

	.body__cell {
		margin-bottom: 2em;
	}
	.body__cell-wind {
		flex: 1 1 100%;
	}

	.cell__item {
		flex-direction: column;
	}

	.cardImg {
	width: 25px;
	height: 25px;
}

}

@media (max-width: 740px) {

	main {
		margin: 0 auto;
		justify-content: space-between;
		margin-bottom: 5%;
	}

	.searchWrapper {
		width: 100%;
	}

	.currentWeatherCard {
		width: 90%;
		padding: 2% 5%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}