.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 40px;
	background-color: #2D384A;
	color: whitesmoke;
	z-index: 100;
}

@media screen and (max-width: 740px) {
	.owner {
		display: none;
	}
}