* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #587ba7;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.visited {
	color: inherit;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}